<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/"
		xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Eventos App</title>
</head>

<body>

	<h1>Cadastro de Eventos: </h1>
	<form method= "post">
	
		Nome do Evento: <input type = "text" value= "" name= "nome"/>
		E-mail: <input type= "text" value= "" name= "email"/>
		Telefone: <input type= "number" value= "" name= "telefone"/>
		Local: <input type = "text" value= "" name= "local"/>
		Data: <input type = "date" value= "" name= "data"/>
		Horário: <input type = "text" value= "" name= "horario"/>
			
		<button type= "submit">Salvar</button>
				
	</form>
</body>
</html >